<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>关于我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/Content/css/amazeui.min.css" rel="stylesheet">
<link href="/Content/css/app.css" rel="stylesheet">
<link href="/Content/css/public.css" rel="stylesheet">
<link href="/Content/css/personal.css" rel="stylesheet">
</head>
<body class="paddfoot">
<!-- header -->
<header data-am-widget="header" class="am-header am-header-default topform">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)">
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        关于我们
    </h1>
</header><!-- header -->

<div class="re_argee_top">
	<h3>关于我们简介</h3>
</div>
<div class="argee_mid argee_mid_info">
	<div>
		<div class="argee_mid_title">
			<h3>公司简介
				<img src="/Content/images/shengmignfangzi_03.png">
			</h3>
		</div>
		成都牙米网络科技公司（www.helloyummy.com.cn）成立于2016年4月，总部设在成都，由两位对科技着迷对生活充满爱的80后海归企业家联合创立。秉持“创新者绝不盲从”的理念，将健康便利的川菜餐饮新模式带给消费者。
	</div>
	<div>
		<div class="argee_mid_title">
			<h3>产品介绍
				<img src="/Content/images/shengming_03.png">
			</h3>
			<p>办酒碗产品简介</p>
		</div>
		办酒碗是一款集预约大厨、庆典、公司聚会等上门服务的App,现阶段致力于将上门服务覆盖至大成都地区的七区十二县，让用户感受手指一动，餐饮、庆典和聚会一条龙的标准化的优质服务。 
	</div>
	<div>
		<div class="argee_mid_title">
			<h3>办酒碗名字的由来
				<img src="/Content/images/shengming_07.png">
			</h3>
			<p>酒碗不是碗,而是一场欢聚的盛宴</p>
		</div>
		酒碗和九碗是同源谐音，无酒不成席，故以吃酒碗代称九碗，九是极数，寓指菜多量足味美。在老成都的传统中，结婚、生子、过生日等都要“办酒碗”。办酒碗最能体现成都人吃饭的精髓：吃出味道、吃出氛围、吃出声势。 
	</div>
	<div>
		<div class="argee_mid_title">
			<h3>公司愿景
				<img src="/Content/images/shengming_10.png">
			</h3>
		</div>
		利用互联网的无限延伸能力，对现有产业资源进行整合与升级为消费者提供更好的餐饮体验。建立大厨、庆典、公司聚会上门类服务的行业标准，做行业的开拓者，商业模式平台化并在全国推广。
	</div>


	
</div>

<!-- footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
    <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
        <li>
            <a href="index">
                <span class=""><img src="/Content/img/home1.png" alt=""></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="cart">
                <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="find">
                <span class="find">发现</span>
            </a>
        </li>
        <li>
            <a href="customerService">
                <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="personal">
                <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer -->	

</body>
</html>