<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>注册送500</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/Content/css/amazeui.min.css" rel="stylesheet">
<link href="/Content/css/app.css" rel="stylesheet">
<link href="/Content/css/public.css" rel="stylesheet">
<link href="/Content/css/personal.css" rel="stylesheet">
</head>
<body class="paddfoot">
<!-- header -->
<header data-am-widget="header" class="am-header am-header-default topform">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)">
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        办酒碗
    </h1>
</header><!-- header -->
<div class="banner_pic">
	<img src="/Content/img/banner.png" alt="">
</div>
<div class="re_argee_top">
	<h3>活动规则</h3>
</div>
<div class="activity">
	<div class="brief_info">
		<div>
			<ul>
				<span>简介 :</span>
				<li>新用户注册成功后，500元餐券自动关联到注册账户下，每个手机号限领一次。</li>
				<li>餐券有效期自领取之日起12个月内有效。</li>
				<li>成都市七区十二县范围内有效。</li>
			</ul>
		</div>
	</div>

	<div class="brief_info give">
		<div>
			<ul>
				<span>赠送 :</span>
				<li>500元餐券包括：</li>
				<p>1张50元餐券，限菜品消费满300元可用一张。</p>
				<p>1张100元餐券，限菜品消费满500元可用一张。</p>
				<p>1张150元餐券，限菜品消费满700元可用一张。</p>
				<p>1张200元餐券，限菜品消费满1000元可用一张。</p>
			</ul>
		</div>
	</div>
	<div class="register_btn">
		<a href="register">立即注册</a>
	</div>
	
</div>

<!-- footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
    <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
        <li>
            <a href="index">
                <span class=""><img src="/Content/img/home1.png" alt=""></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="cart">
                <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="find">
                <span class="find">发现</span>
            </a>
        </li>
        <li>
            <a href="customerService">
                <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="personal">
                <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer -->	

</body>
</html>