<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="办酒碗">
    <meta name="keywords" content="办酒碗">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>办酒碗</title>
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/Content/css/amazeui.min.css">
    <link rel="stylesheet" href="/Content/css/app.css">
    <script src="/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/Scripts/kerenui-framework.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script>
        var id = GetQuery("id");
        $(function () {
            getChange()//获取换一换菜品
        })
        //获取换一换菜品
        function getChange() {
            var str = "";
            AjaxJson("/CommonModule/Q_FoodChange/getChangeFoodInfoByFoodId", { foodid: id }, function (data) {
                var jslength = 0;
                for (var js2 in data) {
                    jslength++;
                }
                if (jslength==0) {
                    str = "该菜无可更换的菜品";
                }
                else {
                    $.each(data, function (i) {
                        var img = "";
                        for (var j = 0; j < data[i].recommend; j++) {
                            img += "<img src='/Content/img/htw.png' class='htw' alt=''>";
                        }
                        str += "<li class='am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left '><a onclick='hrefFoodInfo(\"" + data[i].changefoodid + "\")'><img src='" + data[i].thumbnail + "' alt=''><div class='am-cf topBrief'><div class='am-fl am-text-sm white am-vertical-align'><span class='am-vertical-align-middle vgname'>" + data[i].foodname + "</span></div><div class='am-fr am-vertical-align-middle'><span class='intoIndex'><span class='am-text-xs white'>推荐指数</span>" + img + "</span><span class='am-text-xs white'>月销 <span>" + data[i].cumulativenumber + "份</span></span></div></div></a><div class='numChange am-vertical-align'><div class='pr red am-vertical-align-middle'><span class='price am-icon-cny priceNew'>" + data[i].foodprice + "</span> /份</div><a  onclick='change(\"" + data[i].changefoodid + "\",this)' class='am-btn bred am-fr am-radius changeBtn'>替换</a></div></li>";
                    })
                }
                $("#food").html(str);
            })
        }

        function hrefFoodInfo(id) {
            window.location.href = "foodInfo?foodid=" + id;
        }
    </script>
</head>
<body class="pabS">
    <header data-am-widget="header" class="am-header am-header-default topform bheader">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            换一换
        </h1>
    </header>

    <div class="cmn cmnb am-list-news am-list-news-default">
        <div class="blockHead bwhite am-padding-bottom-sm changetop">
            <img src="/Content/img/marks.png" class="marks am-marign--right sm am-vertical-align-middle"> 菜品信息

            <div class="hr"></div>
        </div>
       
        <div class="am-list-news-bd bwhite changUl" style="padding: 0 6%;margin-top: -1%;">
            <ul class="am-list listFood changeallList" id="food">
                
            </ul>
        </div>
    </div>

    <!-- footer -->
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
        <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
            <li>
                <a href="index">
                    <span class=""><img src="/Content/img/home1.png" alt=""></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="cart">
                    <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="find">
                    <span class="find">发现</span>
                </a>
            </li>
            <li>
                <a href="customerService">
                    <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                    <span class="am-navbar-label">客服</span>
                </a>
            </li>
            <li>
                <a href="personal">
                    <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 更换提示弹框 -->

    <div class="tk" style="display:none;">
        <div class="tkcontent tkvip bwhite" style="background: white;border-radius: 5px;">
            <div class="tktxt2">
                <div class="am-text-center am-text-lg am-padding-sm popBg white">提示</div>
                <div class="am-text-center am-text-lg am-margin">
                    <div class="red">您确定要替换吗？</div>
                </div>
            </div>
            <div class="btnGp">
                <button type='button' class="bno beee whtie closem">取消</button>
                <button type='button' id="sub" class="bno bred white closem">确定</button>
            </div>

        </div>
    </div>
</body>
<script>
    var tihuan,tihuanPrice = 0;
    function change(id,btn) {
        tihuan = id;
        $('.tk').fadeIn('fast');
        tihuanPrice = $(btn).parent().find('.price').html();
    }
    $('.closem').click(function () {
        $('.tk').fadeOut('fast');
    });
    $('#sub').click(function () {
        $('.tk').fadeOut('fast');
        var number = 0
        var fooddetails = "";
        var food = $.cookie("Food");
        var money = 0;
        var foods = eval('(' + food + ')');
        $.each(foods, function (i) {
            if (id == foods[i].FoodId) {
                fooddetails += '{"FoodId":"' + tihuan + '","Number":"' + foods[i].Number + '","Price":"' + tihuanPrice + '"},'
                money += parseFloat(foods[i].Number) * parseFloat(tihuanPrice);
            }
            else {
                fooddetails += '{"FoodId":"' + foods[i].FoodId + '","Number":"' + foods[i].Number + '","Price":"' + foods[i].Price + '"},'
                money += parseFloat(foods[i].Number) * parseFloat(foods[i].Price);
            }
        })
        console.log($.cookie("FoodMoney"));
        console.log(money)
        $.cookie("FoodMoney", money);

        if (parseFloat($.cookie("FoodMoney")) >= 300) {
            $.cookie("FuwuMoney", 0);
        }
        else {
            if (parseFloat($.cookie("FoodMoney")) < 300 && parseFloat($.cookie("FoodMoney")) >= 240) {
                $.cookie("FuwuMoney", 300 - parseFloat($.cookie("FoodMoney")));
            }
            if (parseFloat($.cookie("FoodMoney")) < 240 && parseFloat($.cookie("FoodMoney")) > 0) {
                $.cookie("FuwuMoney", 60)
            }
            if (parseFloat(money) == 0) {
                $.cookie("FuwuMoney", 0);

            }
        }


        foods = "[" + fooddetails + "]";
        var foodfood = foods.replace("},]", "}]");
        console.log(foodfood)
        $.cookie("Food", foodfood);
        window.location.href="cart"
    });
</script>
</html>
