<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>免责声明</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/Content/css/amazeui.min.css" rel="stylesheet">
<link href="/Content/css/app.css" rel="stylesheet">
<link href="/Content/css/public.css" rel="stylesheet">
<link href="/Content/css/personal.css" rel="stylesheet">
</head>
<body class="paddfoot">
<!-- header -->
<header data-am-widget="header" class="am-header am-header-default topform">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)">
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        免责声明
    </h1>
</header><!-- header -->

<div class="re_argee_top">
	<h3>协议内容</h3>
</div>
<div class="argee_mid">
	<div>
		1、一切移动客户端用户在下载并浏览办酒碗手机办酒碗软件时均被视为已经仔细阅读本条款并完全同意。凡以任何方式登陆本办酒碗，或直接、间接使用本办酒碗资料者，均被视为自愿接受本网站相关声明和用户服务协议的约束。
	</div>
	<div>
		2、办酒碗手机办酒碗转载的内容并不代表办酒碗手机办酒碗之意见及观点，也不意味着本网赞同其观点或证实其内容的真实性。
	</div>
	<div>
		3、办酒碗手机办酒碗转载的文字、图片、音视频等资料均由本办酒碗用户提供，其真实性、准确性和合法性由信息发布人负责。办酒碗手机办酒碗不提供任何保证，并不承担任何法律责任。
	</div>
    <div>
        4、办酒碗手机办酒碗所转载的文字、图片、音视频等资料，如果侵犯了第三方的知识产权或其他权利，责任由作者或转载者本人承担，本办酒碗对此不承担责任。  
    </div>
    <div>
        5、办酒碗手机办酒碗不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该外部链接指向的不由办酒碗手机办酒碗实际控制的任何网页上的内容，办酒碗手机办酒碗不承担任何责任。   
    </div>
    <div>
        6、用户明确并同意其使用办酒碗手机办酒碗网络服务所存在的风险将完全由其本人承担；因其使用办酒碗手机办酒碗网络服务而产生的一切后果也由其本人承担，办酒碗手机办酒碗对此不承担任何责任。
    </div>
    <div>
        7、除办酒碗手机办酒碗注明之服务条款外，其它因不当使用本办酒碗而导致的任何意外、疏忽、合约毁坏、诽谤、版权或其他知识产权侵犯及其所造成的任何损失，办酒碗手机办酒碗概不负责，亦不承担任何法律责任。
    </div>
    <div>
        8、对于因不可抗力或因黑客攻击、通讯线路中断等办酒碗手机办酒碗不能控制的原因造成的网络服务中断或其他缺陷，导致用户不能正常使用办酒碗手机办酒碗，办酒碗手机办酒碗不承担任何责任，但将尽力减少因此给用户造成的损失或影响。
    </div>
    <div>
        9、本声明未涉及的问题请参见国家有关法律法规，当本声明与国家有关法律法规冲突时，以国家法律法规为准。
    </div>
    <div>
        10、本网站相关声明版权及其修改权、更新权和最终解释权均属办酒碗手机办酒碗所有。 
    </div>

        
    
	
</div>

<!-- footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
    <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
        <li>
            <a href="index">
                <span class=""><img src="/Content/img/home1.png" alt=""></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="cart">
                <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="find">
                <span class="find">发现</span>
            </a>
        </li>
        <li>
            <a href="customerService">
                <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="personal">
                <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer -->	

</body>
</html>