<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="办酒碗">
    <meta name="keywords" content="办酒碗">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>办酒碗</title>
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/Content/css/amazeui.min.css">
    <link rel="stylesheet" href="/Content/css/app.css">
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/Scripts/kerenui-framework.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script>
        $(function () {
            banner();//加载banner图
            Recommend(); //加载推荐产品
            getDiscount();//加载推荐产品
            Boutique();//加载精品生活
        })

        //加载banner图
        function banner() {
            var str = "";
            AjaxJson("/CommonModule/Q_Banner/getImg", { address: 4 }, function (data) {
                $.each(data, function (i) {
                    str += "<li><img src='" + data[i].img + "' class='am-img-responsive card'></li>";
                })
                $("#img").html(str)
            })
        }

        //加载推荐产品
        function Recommend() {
            var str = "";
            AjaxJson("/CommonModule/Q_Food/Recommend", {}, function (data) {
                $.each(data, function (i) {
                    str += "<li onclick='hrefFoodInfo(\"" + data[i].FoodId + "\")'><a><div class='am-gallery-item'><img src='" + data[i].Thumbnail + "' /><h3 class='am-gallery-title'>" + data[i].FoodName + "</h3></div></a></li>"
                })
                $("#tuijian").html(str)
            })
        }
        //加载促销产品
        function getDiscount() {
            var str = ""
            var food = "";
            var foods;
            var number = 0;
            AjaxJson("/CommonModule/Q_Food/getDiscount", {}, function (data) {
                $.each(data, function (i) {
                    var number = 0;
                    var tuijianxing = "";
                    for (var j = 0; j < data[i].recommend; j++) {
                        tuijianxing += "<img src='/Content/img/htw.png' class='htw' alt=''>";
                    }
                    if ($.cookie("Food") != null) {
                        food = $.cookie("Food");
                        foods = eval('(' + food + ')');
                        $.each(foods, function (k) {
                            if (data[i].foodid == foods[k].FoodId) {
                                number = foods[k].Number;
                            }
                        })
                    }
                    str += "<li class='am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left'><a  onclick='hrefFoodInfo(\"" + data[i].foodid + "\")'><img src='" + data[i].thumbnail + "' alt=''><div class='am-cf topBrief'><div class='am-fl am-text-sm white am-vertical-align'><span class='am-vertical-align-middle vgname'>" + data[i].foodname + "</span></div><div class='am-fr am-vertical-align-middle'><span class='intoIndex'><span class='am-text-xs white'>推荐指数" + tuijianxing + "</span></span><span class='am-text-xs white'>月销 <span>" + data[i].cumulativenumber + "份</span></span></div></div></a><div class='numChange am-vertical-align'><div class='pr red am-vertical-align-middle'><span class='price am-icon-cny priceNew'>" + data[i].foodprice + "</span> /份</div><div class='foodNum am-vertical-align-middle'><span></span><span></span><span class='reduce am-icon-minus-square' onclick='handle(this, false,\"" + data[i].foodid + "\")'></span><input type='text' class='numTxt' name='numbers[]' onkeydown='keydown(this)' onkeypress='return IsNum(event)' oninput='ueserWrite(this,\"" + data[i].foodid + "\")' value='" + number + "'><span class='add am-icon-plus-square' onclick='handle(this, true,\"" + data[i].foodid + "\")'></span></div></div></li>"
                })
                $("#discount").html(str);
            })
        }
        //跳转菜品详情
        function hrefFoodInfo(id) {
            window.location.href = "foodInfo?foodid=" + id;
        }
        //加载精品生活
        function Boutique() {
            var str = "";
            AjaxJson("/CommonModule/Q_Boutique/getBoutique", { start: 1, end: 1 }, function (data) {
                $.each(data, function (i) {
                    var tuijianxiang = "";
                    for (var j = 0; j < data[i].recommend; j++) {
                        tuijianxiang += "<img src='/Content/img/introHeart.png' class='am-vertical-align-middle introheart' alt=''>";
                    }
                    str += "<figure><a><img onclick='hrefBoutique(\"" + data[i].boutiqueid + "\")' src='" + data[i].backgoungimg + "' alt=''><figcaption class='am-cf am-vertical-align'><div class='am-fl leftRe'><img src='/Content/img/User.jpg' class='am-circle chefPic' alt=''><span class='am-vertical-align-middle am-margin-left red'>" + data[i].name + "</span></div><div class='am-fr am-margin-right'><span class='am-vertical-align-middle am-margin-right-xs am-text-xs red'>推荐指数" + tuijianxiang + "</span></a></figure>";
                })
                $("#boutique").html(str);
            })
        }

        function hrefOrder() {
            window.location.href = "cart";
        }
    </script>

</head>
<style type="text/css">
    .per {
        padding: 20px;
        border-bottom: 1px dotted #d3d3d3;
    }

    .title {
        font-weight: bold;
        color: #39f;
    }

    .nodata {
        display: none;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #999;
        font-size: 14px;
    }

    .nodata img {
        width: 25px;
    }

    h2.tip {
        margin: 20px;
        font-size: 18px
    }
</style>

<body>
    <header data-am-widget="header" class="am-header am-header-default topform">
        <h1 class="am-header-title">
            发现
        </h1>
    </header>
    <!-- banner -->
    <div data-am-widget="slider" class="am-slider am-slider-default sliderbot" data-am-slider='{}'>
        <ul class="am-slides" id="img"></ul>
    </div>
    <!-- 产品推荐 -->
    <div class="am-shadow am-margin-top-xs">
        <div class="blockHead am-padding-top-sm">
            <img src="/Content/img/marks.png" class="marks am-marign--right sm am-vertical-align-middle"> 产品推荐
        </div>
        <ul class="am-gallery am-avg-sm-3 am-avg-md-3 am-avg-lg-3 am-gallery-default pagallery blockCnt" data-am-gallery="{ pureview: true }" id="tuijian"></ul>
    </div>
    <!-- 促销信息 -->
    <div class="am-shadow am-margin-top-xs">
        <div class="blockHead am-padding-top-sm">
            <img src="/Content/img/marks.png" class="marks am-marign--right sm am-vertical-align-middle"> 促销信息
        </div>
        <ul class="am-list listFood blockCnt" id="discount"></ul>
    </div>
    <!-- 精品生活 -->
    <div class="am-shadow am-margin-top-xs">
        <div class="blockHead am-padding-top-sm">
            <img src="/Content/img/marks.png" class="marks am-marign--right sm am-vertical-align-middle"> 精品生活
        </div>
        <div class="hr"></div>
        <div class="bda blockCntLife">
            <div class="am-g Life" id="boutique">
            </div>
        </div>
        <!-- 图文加载 -->
        <div class="container bda blockCntLife">
            <div class="am-g Life">
                <div class="demo">
                    <div id="lists">
                    </div>
                    <div class="nodata"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 不显示 -->
    <div data-am-widget="navbar" class="am-hide am-navbar am-shadow am-cf am-navbar-default amft" id="">
        <div class="am-u-sm-8 a">
            <span class="green am-posR"><img src="/Content/img/cart.png" id="car" alt=""><span id="fen" class="allmoney cartA">0</span></span>
            <i class="am-icon-cny red"></i><span id="allmoney" class="allmoney red">0</span>
            <span class="ff am-text-sm gray" style="display: inline-block;">
                | 包含<span class="am-icon-cny" id="servmoney"></span>服务费
                <input type="hidden" id="fee" name="servmoneydata" value="0">
            </span>
        </div>
        <div class="am-u-sm-4 b">
            <button type='button' onclick="hrefOrder()" class="am-btn">去结算</button>
        </div>
    </div>
    <!-- footer -->
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
        <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
            <li>
                <a href="index">
                    <span class=""><img src="/Content/img/home1.png" alt=""></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="cart">
                    <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="find">发现</span>
                </a>
            </li>
            <li>
                <a href="customerService">
                    <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                    <span class="am-navbar-label">客服</span>
                </a>
            </li>
            <li>
                <a href="personal">
                    <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>

    <script src="/Content/js/amazeui.min.js"></script>
    <script src="/Content/js/num_cailan.js"></script>
    <script type="text/javascript">
        var i = 1;
        $(function () {

            //加载
            var totalpage = 6; //总页数，防止超过总页数继续滚动
            var winH = $(window).height(); //页面可视区域高度
            $(window).scroll(function () {
                if (i < totalpage) { // 当滚动的页数小于总页数的时候，继续加载
                    var pageH = $(document.body).height();
                    var scrollT = $(window).scrollTop(); //滚动条top
                    var aa = (pageH - winH - scrollT) / winH;
                    if (aa < 0.01) {
                        getJson(i); //加载第一页
                    }
                }
            })
        });

        function getJson(page) {
            i++;
            $(".nodata").show().html("<img src='http://www.sucaihuo.com/Public/images/loading.gif'/>");
            AjaxJson("/CommonModule/Q_Boutique/getBoutique", {
                start: 1,end:i
            }, function (json) {
                if (json) {
                    var str = "";
                    $.each(json, function (i) {
                        var tuijianxing = "";
                        for (var k = 0; k < json[i].recommend; k++) {
                            tuijianxing+="<img src='/Content/img/introHeart.png' class='am-vertical-align-middle introheart' alt=''>";
                        }
                        var str = "<figure > <a><img onclick='hrefBoutique(\"" + json[i].boutiqueid + "\")' src='" + json[i].backgoungimg + "'><figcaption class='am-cf am-vertical-align'><div class='am-fl leftRe'><img src='/Content/img/User.jpg' class='am-circle chefPic'><span class='am-vertical-align-middle am-margin-left red'>" + json[i].name + "</span> </div><div class='am-fr am-margin-right'><span class='am-vertical-align-middle am-margin-right-xs am-text-xs red'>推荐指数" + tuijianxing + "</span></div></figcaption></a></figure>";
                        $("#lists").html(str);
                    });
                    setTimeout(function () {
                        $(".nodata").hide();
                    }, 50000);
                } else {
                    showEmpty();
                }
            });
        }

        //跳转精品生活详情
        function hrefBoutique(id)
        {
            window.location.href = "life?id=" + id;
        }
        function showEmpty() {
            setTimeout(function () {
                $(".nodata").show().html("别滚动了，已经到底了。。。");
            },
                10000);
        }
    </script>
</body>

</html>
