<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>新密码</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../../css/amazeui.min.css" rel="stylesheet">
<link href="../../css/app.css" rel="stylesheet">
<link href="../../css/signin.css" rel="stylesheet">
<link href="../../css/public.css" rel="stylesheet">
</head>
<body class="">
	<!-- header -->
	<header data-am-widget="header"class="am-header am-header-default topform bheader" style="width:100%;height: 49px;"> 
	  <div class="am-header-left am-header-nav">
	    <a href="javascript:history.go(-1)">
	      <i class="am-header-icon am-icon-chevron-left"></i>
	    </a>
	  </div>
	  <h1 class="am-header-title">
	  办酒碗
	  </h1>
	</header>
	<div class="register_t_pic">
		<img src="../../images/zhuceshouji_03.png">
	</div>
	<form>
		<div class="regi_form">
			<p>新密码</p>
			<input type="text" name="" placeholder="请输入密码">
			<a href="" title="">
			   <input type="button" name="" value="确认" class="confirm newmima">
			</a>
		</div>
	</form>
</body>
</html>