<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>充值协议</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/Content/css/amazeui.min.css" rel="stylesheet">
<link href="/Content/css/app.css" rel="stylesheet">
<link href="/Content/css/public.css" rel="stylesheet">
<link href="/Content/css/personal.css" rel="stylesheet">
</head>
<body class="paddfoot">
<!-- header -->
<header data-am-widget="header" class="am-header am-header-default topform">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)">
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        充值协议
    </h1>
</header><!-- header -->

<div class="re_argee_top">
	<h3>协议内容</h3>
</div>
<div class="argee_mid">
	<div>
		尊敬的客户，为保障您的合法权益，请您在点击“去充值”按钮前，完整、仔细地阅读本充值协议。当您继续点击“充值”按钮，即视为您已阅读、理解本协议，并同意按本协议规定执行。
	</div>
	<div>
		1、充值方式 <br>
        除可通过本客户端在线充值外，您也可以选择向在我们的客户代表提供的POS机上刷卡充值。在充值时请您注意确认客服代表的身份，如有异议请第一时间拨打我们的客服热线：84327788。
	</div>
	<div>
		2、充值赠送金额（如有）、充值金额、账户金额 <br>
        充值赠送金额指：根据本公司不时推出的充值优惠活动，您充值后，在您充值金额以外，额外赠予的金额。如，您充值100元人民币，根据当时的充值优惠活动赠送您20元，则您成功充值100元后，在本APP账户内显示的充值金额为120元，超出的20元即为充值赠送金额。
        充值金额指：您实际充值支付的金额（人民币）。
        账户金额：即您账户中当前显示的金额，账户金额一般通过充值金额、充值赠送金额及其他赠送或补偿的金额获得。
	</div>
    <div>
        3、账户金额仅可用于支付本办酒碗提供的厨师上门服务。
    </div>
    <div>
        4、充值后，账户余额使用不设有效期，不能转移、转赠。
    </div>
    <div>
        5、充值后，账户余额不能退还。请您根据自己的消费情况充值，我们对充值次数不设限制。
    </div>
    <div>
        6、发票金额根据我们已收到的充值金额开具，充值赠送金额或其他并非您实际支付的费用不能开具发票。
    </div>

	
</div>

<!-- footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
    <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
        <li>
            <a href="index">
                <span class=""><img src="/Content/img/home1.png" alt=""></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="cart">
                <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="find">
                <span class="find">发现</span>
            </a>
        </li>
        <li>
            <a href="customerService">
                <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="personal">
                <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer -->	

</body>
</html>