<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/Content/css/amazeui.min.css" rel="stylesheet">
    <link href="/Content/css/app.css" rel="stylesheet">
    <link href="/Content/css/signin.css" rel="stylesheet">
    <link href="/Content/css/public.css" rel="stylesheet">
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/Scripts/kerenui-framework.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script>
        $(function () {

        })
        //验证短信验证码是否正确
        //function IsVerification()
        //{
        //    var yzm = $.cookie('vercode');
        //    var yzm1 = $("#code").val();
        //    if (yzm==yzm1) {
        //        window.location.href = "setPassword?phone=" + $("#phone").val();
        //    }
        //    else {
        //        alert("请输入正确的验证码");
        //    }
        //}
        
    </script>
</head>
<body class="">
    <!-- header -->
    <header data-am-widget="header" class="am-header am-header-default topform bheader" style="width:100%;height: 49px;">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            办酒碗
        </h1>
    </header>
    <div class="register_t_pic">
        <img src="/Content/images/zhuceshouji_03.png">
    </div>
    <form>
        <div class="regi_form">
            <p>中国+86</p>
            <input type="tel" name="" id="phone" placeholder="请输入您的手机号码">
            <a class="am-badge am-block am-badge-danger am-hide phoneTip">请输入正确的手机号</a>
            <input type="button" name="" id="check" value="获取验证码" class="verification">
            <input type="text" name="" id="code" placeholder="请输入验证">
            <a class="am-badge am-badge-danger am-hide codeTip">请输入正确的验证码</a>
            <label>
                <input type="checkbox" name="checkbox">
                <i>图</i>
                我已阅读并同意《办酒碗》用户手册
            </label>
            <a class="am-badge am-badge-danger am-hide agreeTip">请同意用户手册</a>
            <!-- 提交后跳转到 setPassword.html 页面-->
            <input type="button" name="" value="确认" class="confirm">
        </div>
    </form>
</body>
<script>
    (function () {

        var phone = document.getElementById('phone');
        var check = document.getElementById('check');
        var code = document.getElementById('code');
        var phoneTip = document.getElementsByClassName('phoneTip')[0];
        var codeTip = document.getElementsByClassName('codeTip')[0];
        var checkbox = document.getElementsByName('checkbox')[0];
        var agreeTip = document.getElementsByClassName('agreeTip')[0];
        var reg = /^1((3|4|5|8|7){1}\d{1}|70)\d{8}$/;
        var wait = 60;
        phone.oninput = function () {
            if (this.value == '' || !reg.test(this.value)) {
                phoneTip.className = phoneTip.className.replace('am-hide', '');
            } else {
                phoneTip.className += ' ' + ' am-hide';
            }
        }
        check.onclick = function () {
            var phoneValue = phone.value;
            if (phoneValue == '' || !reg.test(phoneValue)) {
                phone.focus();
                phoneTip.className = phoneTip.className.replace('am-hide', '');
            } else {
                phoneTip.className += ' ' + 'am-hide';
                yzm(this); 
                gotime();
            }
        }
        checkbox.onchange = function () {
            if (!this.checked) {
                agreeTip.className = agreeTip.className.replace('am-hide', '');
            }
            else {
                agreeTip.className += ' ' + 'am-hide';
            }
        }
        code.oninput = function () {
            if (this.value != $.cookie('vercode')) {
                codeTip.className = codeTip.className.replace('am-hide', '');
            } else {
                codeTip.className += ' ' + ' am-hide';
            }
        }
        function yzm(input) {
            if (wait == 0) {
                input.removeAttribute("disabled");
                input.value = "获取验证码";
                wait = 60;

            } else {

                // input.setAttribute("disable", 'true');
                input.disabled = true; 
                input.value = "重新发送(" + wait + ")";
                wait--; 
                setTimeout(function () {
                    yzm(input);
                },
                1000)
            }
        }

        document.getElementsByClassName('confirm')[0].onclick = function () {
          
            if (phone.value == '' || !reg.test(phone.value)) {
                phoneTip.className = phoneTip.className.replace('am-hide', '');
                phone.focus();
                return false;
            }
            if (code.value == '') {
                codeTip.className = codeTip.className.replace('am-hide', '');
                code.focus();
                return false;
            } 
            var yzma = $.cookie('vercode');
            console.log(yzma)
            if (yzma == code.value) {
                if (checkbox.checked) {
                    window.location.href = "setPassword?phone=" + $("#phone").val();
                  
                }
                else {
                    agreeTip.className = agreeTip.className.replace('am-hide', '');
                    return false;
                }
               
            } else {
                codeTip.className = codeTip.className.replace('am-hide', '');
                code.focus();
                return false;
            }
           
        }
    })();

    function gotime() {
        var verCode = randomNum(100000, 999999);
        $.cookie('vercode', verCode); // 存储 cookie
        getAjax("/CommonModule/Q_Users/SendMessage", { phone: $("#phone").val(), code: verCode }, function (rs) {
            if (rs>0) {
                alert("该用户已注册")
            }
        })
    }

    function randomNum(minNum, maxNum) {
        switch (arguments.length) {
            case 1:
                return parseInt(Math.random() * minNum + 1);
                break;
            case 2:
                return parseInt(Math.random() * (maxNum - minNum + 1) + minNum);
                break;
            default:
                return 0;
                break;
        }
    }
</script>
</html>