<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>服务协议</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="/Content/css/amazeui.min.css" rel="stylesheet">
<link href="/Content/css/app.css" rel="stylesheet">
<link href="/Content/css/public.css" rel="stylesheet">
<link href="/Content/css/personal.css" rel="stylesheet">
</head>
<body class="paddfoot">
<!-- header -->
<header data-am-widget="header" class="am-header am-header-default topform">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.go(-1)">
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        服务协议
    </h1>
</header><!-- header -->

<div class="re_argee_top">
	<h3>协议内容</h3>
</div>
<div class="argee_mid">
	<div>
		首部及导言
	</div>
	<div>
		为使用办酒碗软件（以下统称“本软件”）及服务，您请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意。
        除非您已阅读并接受本协议所有条款，否则您无权下载、安装或使用本软件及相关服务。您的下载、安装、使用、登录等行为即视为您已阅读并同意本协议的约束。
	</div>
	<div>
		一、协议的范围 <br>
        1.1 协议适用主体范围 <br>
        本协议是您与办酒碗间关于您下载、安装、使用、登录本软件，以及使用本服务所订立的协议。
        本协议与上述内容存在冲突的，以本协议为准。
	</div>
    <div>
        二、关于本服务 <br>
        2.1 本服务内容 <br>
        本服务内容是指办酒碗通过本软件向用户提供的相关服务（简称“本服务”）。  <br>
        2.2 本服务形式 <br>
        您可能可以通过电脑、手机等终端以客户端、网页等形式使用本服务，具体以办酒碗提供的为准，同时，办酒碗会不断丰富您使用本服务的终端、形式等。当您使用本服务时，您应选择与您的终端、系统等相匹配的本软件版本，否则，您可能无法正常使用本服务。 <br>
        2.3 许可的范围 <br>
        2.3.1 办酒碗给予您一项个人的、不可转让及非排他性的许可，以使用本软件。您可以为非商业目的在单一台终端设备上下载、安装、使用、登录本软件。 <br>
        2.3.2 您可以制作本软件的一个副本，仅用作备份。备份副本必须包含原软件中含有的所有著作权信息。 <br>
        2.3.3 本条及本协议其他条款未明示授权的其他一切权利仍由办酒碗保留，您在行使这些权利时须另外取得办酒碗的书面许可。办酒碗如果未行使前述任何权利，并不构成对该权利的放弃。 <br>
        2.4 定义<br>
        2.4.1 办酒碗的用户<br><br>
        办酒碗的用户是指所有享受办酒碗服务的个人用户为办酒碗普通用户。用户为具备完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。<br>
        无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不当注册为办酒碗用户或超过其民事权利或行为能力范围从事交易的，其与办酒碗之间的服务协议自始无效，办酒碗一经发现，有权立即注销该用户，并追究其使用办酒碗“服务”的一切法律责任。<br>
        2.4.2用户注册<br>
        用户注册是指用户登录办酒碗网站，并按要求填写相关信息并确认同意履行相关用户协议的过程。<br>
        用户因进行交易，获取预订上门服务、订外卖的有偿服务或接触办酒碗网站服务器而发生的所有应纳税赋，以及一切硬件、软件、服务及其他方面的费用均由用户负责支付。办酒碗网站仅作为预订上门服务、订外卖的交易地点。<br>
        2.4.3办酒碗积分规则<br>
        为了感谢广大办酒碗用户的支持，办酒碗网站推出积分系统，对用户实行消费积分回馈、推广积分赠送。办酒碗积分规则就是建立在此基础上的一整套完善的积分奖励体系。<br>
        2.4.4办酒碗抵用券<br>
        2.4.5办酒碗网站上预约上门服务系统<br>
        由办酒碗自主开发，提供给用户进行网站上交易的软件，用户可以使用此系统进行订单和积分管理。<br>
    </div>
    <div>
        三、办酒碗账号 <br>
        使用本软件您需要注册办酒碗账号。 <br>
    </div>
    <div>
        四、软件的获取 <br>
        4.1 您可以直接从办酒碗的网站上获取本软件，也可以从得到办酒碗授权的第三方获取。 <br>
        4.2 如果您从未经办酒碗授权的第三方获取本软件或与本软件名称相同的安装程序，办酒碗无法保证该软件能够正常使用，并对因此给您造成的损失不予负责。 <br>

    </div>
    <div>
        五、软件的安装与卸载  <br>
        5.1 办酒碗可能为不同的终端、系统等开发了不同的软件版本，您应当根据实际情况选择下载合适的版本进行安装。
        5.2 下载安装程序后，您需要按照该程序提示的步骤正确安装。 <br>
        5.3 为提供更加优质、安全的服务，在本软件安装时办酒碗可能推荐您安装其他软件，您可以选择安装或不安装。 <br>
        5.4 如果您不再需要使用本软件或者需要安装新版软件，可以自行卸载。如果您愿意帮助办酒碗改进产品服务，请告知卸载的原因。
    </div>
    <div>
        六、软件的更新  <br>
        6.1 为了增进用户体验、完善服务内容，办酒碗将不断努力开发新的服务，并为您不时提供软件更新（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。  <br>
        6.2 本软件可能为您默认开启自动升级、更新等功能，您可以在软件设置中自行选择是否需要开启此功能。  <br>
        6.3 为了改善用户体验，并保证服务的安全性和功能的一致性，办酒碗有权不经向您特别通知而对软件进行更新，或者对软件的部分功能效果进行改变或限制。  <br>
        6.4 本软件新版本发布后，旧版本的软件可能无法使用。办酒碗不保证旧版本软件继续可用及相应的客户服务，请您随时核对并下载最新版本。
    </div>
    <div>
        七、用户个人信息保护 <br>
        7.1 保护用户个人信息是办酒碗的一项基本原则，办酒碗将会采取合理的措施保护用户的个人信息。除法律法规规定的情形外，未经用户许可办酒碗不会向第三方公开、透露用户个人信息。办酒碗对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。 <br>
        7.2 您在注册帐号或使用本服务的过程中，可能需要填写一些必要的信息。若国家法律法规或政策有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用本服务或在使用过程中受到限制。 <br>
        7.3 一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。 <br>
        7.4 办酒碗将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。
    </div>
    <div>
        八、用户的权利和义务 <br>
        8.1 用户注意事项 <br>
        8.1.1普通用户的权利 <br>
        用户有权利拥有自己在办酒碗网站的用户名及密码，并有权利使用自己的用户名及密码随时登录办酒碗网站预订上门服务、交易。用户不得以任何形式擅自转让或授权他人使用自己的办酒碗网站用户名； <br>
        1.  用户有权利通过预订上门服务及推广办酒碗网站获得消费积分和推广积分，并使用积分兑换礼品； <br>
        2.  用户有权利对办酒碗商户的服务做出评价和投诉，并提出建议和意见； <br>
        8.1.2普通用户的义务 <br>
        用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证办酒碗及其他用户可以通过上述联系方式与自己进行联系。同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。用户保证不以他人资料在办酒碗网站进行注册或认证。若用户使用虚假电话、姓名、地址或冒用他人信息使用办酒碗预订上门服务服务，办酒碗将做出相应处罚或屏蔽地址的处理；对办酒碗造成经济损失的，办酒碗将保留追究法律责任的权利； <br>
        8.1.3 用户不应在办酒碗网站上预订上门服务交易上恶意评价其他用户，或采取不正当手段提高自身的信用度或降低其他用户的信用度； <br>
        8.1.4   办酒碗用户同意接收来自办酒碗网站或者办酒碗网站合作伙伴发出的邮件、信息。 <br>
        8.1.5您充分理解并同意：您在使用本服务某一特定服务时，本服务可以能需要使用您终端设备的相关权限、接口及相关设备信息等以才能实现相应的功能，某些特定服务可能还需同意单独的协议、规则等，您在使用该项服务前请仔细阅读前述相关协议、规则。 <br>
        8.1.6办酒碗有权在本服务中或通过本服务向您展现各种信息，包括但不限于广告信息、新闻信息及宣传信息等，该信息可能以系统消息或弹出窗口等形式出现。 <br>
        8.1.7您可以选择不向办酒碗提供您的某些信息，或者根据产品设置取消办酒碗收集某些信息，但因此可能会导致相关服务功能无法实现。 <br>
        8.1.8您理解并同意：办酒碗将会尽其商业上的合理努力保障您在本软件及服务中的数据存储安全，但是，办酒碗并不能就此提供完全保证，包括但不限于以下情形： <br>
        （1）办酒碗不对您在本软件及服务中相关数据的删除或储存失败负责； <br>
        （2）办酒碗有权根据实际情况自行决定您在本软件及服务中数据的最长储存期限、服务器中数据的最大存储空间等，您可根据自己的需要自行备份本软件及服务中的相关数据。双方另有约定的按相应约定执行； <br>
        （3）如果您停止使用本软件及服务或服务被终止或取消，办酒碗可以从服务器上永久地删除您的数据。您的服务停止、终止或取消后，办酒碗没有义务向您返还任何数据。 <br>
        8.1.9 本软件内的运营活动均由办酒碗，除有特别声明外，活动中提供的奖品生产商（如奖品为苹果手机的苹果公司，下同）等均未参与本软件内的运营活动，活动中涉及到的奖品，也均由办酒碗自行购买。因运营活动产生纠纷的，由办酒碗在法律规定的范围内承担责任，与奖品生产商无关。因活动奖品质量产生纠纷的,按照相关法律规定处理。 <br>
        8.1.10您使用本服务时，本服务的内容可能会因您使用软件版本的不同而有差别，您理解并同意： <br>
        （1）当您在使用本软件的某些版本开通或进入办酒碗开发的应用分发类产品或应用分发类功能的相关页面时，此应用分发类产品或功能，为更好地向您提供终端设备上应用的升级提示等智能服务，可能会使用您终端设备上已经安装应用程序的版本信息、安装位置、大小等必要信息，具体以办酒碗实际提供的版本为准。 <br>

        办酒碗的权利和义务  <br>
        办酒碗的权利  <br>
        1.  对于用户在办酒碗网站上预订上门服务上的不当行为或其它任何办酒碗认为应当终止服务的情况，办酒碗有权随时做出删除相关信息、终止服务提供等处理，而无须征得用户的同意。  <br>
        2.  用户在办酒碗网站上预订上门服务过程中如与其他用户因交易产生纠纷，请求办酒碗从中予以调处，经办酒碗审核后，办酒碗有权通过电话或电子邮件联系向纠纷双方了解情况，并将所了解的情况通过电话或电子邮件互相通知对方；  <br>
        3.  办酒碗有权对用户的注册资料及交易行为进行查阅，发现注册资料或预订上门服务行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接做出删除等处理；  <br>
        4.  经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者办酒碗有足够事实依据可以认定用户存在违法或违反服务协议行为的，办酒碗有权在办酒碗预订上门服务及所在网站站上以网站络发布形式公布用户的违法行为；  <br>
        5.  对于用户在办酒碗预订上门服务时发布的下列各类信息，办酒碗有权在不通知用户的前提下进行删除或采取其他限制性措施，包括但不限于以规避费用为目的的信息；以炒作信用为目的的信息；办酒碗有理由相信存在欺诈等恶意或虚假内容的信息；办酒碗有理由相信与网站上预订上门服务无关或不是以预订上门服务为目的的信息；办酒碗有理由相信存在恶意或其他试图扰乱正常预订上门服务秩序因素的信息；办酒碗有理由相信该信息违反公共利益或可能严重损害办酒碗和其他用户合法利益的； <br>
        6.  许可使用权。用户以此授予办酒碗独家的、全球通用的、永久的、免费的许可使用权利(并有权对该权利进行再授权)，使办酒碗有权(全部或部份地)使用、复制、修订、改写、发布、翻译、分发、执行和展示用户公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其他作品内； <br>
        7.  办酒碗会在用户的电脑上设定或取用办酒碗Cookies。 办酒碗允许那些在办酒碗网站页上发布广告的公司到用户电脑上设定或取用 Cookies 。 在用户登录时获取资料，办酒碗使用 Cookies 可为用户提供个性化服务。 如果拒绝所有 Cookies，用户将不能使用需要登录的办酒碗产品及服务内容。 <br>

        办酒碗的义务 <br>
        1.  办酒碗有义务在现有技术上维护整个网站上预订上门服务的正常运行，并努力提升和改进技术，使用户网站上预订上门服务活动得以顺利进行。 <br>
        2.  对用户在注册使用办酒碗网站上预订上门服务中所遇到的与交易或注册有关的问题及反映的情况，办酒碗应及时做出回复。 <br>
        3.  用户因在办酒碗网站上预订上门服务与其他用户产生诉讼的，用户通过司法部门或行政部门依照法定程序要求办酒碗提供相关资料，办酒碗应积极配合并提供有关资料； <br>

        服务的中断和终止 <br>
        1.  用户同意，在办酒碗未向用户收取服务费的情况下，办酒碗可自行全权决定以任何理由 (包括但不限于办酒碗认为用户已违反本协议的字面意义和精神，或以不符合本协议的字面意义和精神的方式行事，或用户在超过90天的时间内未以用户的账号及密码登录网站等) 终止用户的“服务”密码、账户 (或其任何部份) 或用户对“服务”的使用，并删除（不再保存）用户在使用“服务”中提交的任何资料。同时办酒碗可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供“服务”或其任何部份。账号终止后，办酒碗没有义务为用户保留原账号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方。此外，用户同意，办酒碗不就终止用户接入“服务”而对用户或任何第三者承担任何责任； <br>
        2.  如用户向办酒碗提出注销办酒碗网站注册用户身份时，经办酒碗审核同意，由办酒碗注销该注册用户，用户即解除与办酒碗的服务协议关系。但注销该用户账号后，办酒碗仍保留下列权利： <br>
           用户注销后，办酒碗有权保留该用户的注册资料及以前的交易行为记录。 <br>
           用户注销后，如用户在注销前在办酒碗预订上门服务上存在违法行为或违反合同的行为，办酒碗仍可行使本服务协议所规定的权利。 <br>
        3.  在下列情况下，办酒碗可以通过注销用户的方式终止服务： <br>
           在用户违反本服务协议相关规定时，办酒碗有权终止向该用户提供服务。办酒碗将在中断服务时通知用户。但如该用户在被办酒碗终止提供服务后，再一次直接或间接或以他人名义注册为办酒碗用户的，办酒碗有权再次单方面终止向该用户提供服务； <br>
           如办酒碗通过用户提供的信息与用户联系时，发现用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经办酒碗以其他联系方式通知用户更改，而用户在三个工作日内仍未能提供新的电子邮箱地址的，办酒碗有权终止向该用户提供服务； <br>
           一旦办酒碗发现用户注册资料中主要内容是虚假的，办酒碗有权随时终止向该用户提供服务； <br>
           本服务协议终止或更新时，用户明示不愿接受新的服务协议的； <br>
           其它办酒碗认为需终止服务的情况。 <br>
        4.  服务中断、终止之前用户交易行为的处理： <br>
        因用户违反法律法规或者违反服务协议规定而致使办酒碗中断、终止对用户服务的，对于服务中断、终止之前用户交易行为依下列原则处理： <br>
           服务中断、终止之前，办酒碗已经上传至办酒碗网站的产品尚未交易或尚未交易完成的，办酒碗有权在中断、终止服务的同时删除此项物品的相关信息； <br>
           服务中断、终止之前，用户已经就办酒碗出售的具体产品做出要约，但交易尚未结束，办酒碗有权在中断或终止服务的同时删除该用户的相关要约； <br>

        责任范围 <br>
        8.3 五不准 <br>
        您在使用本服务时不得利用本服务从事以下行为，包括但不限于： <br>
        （1）发布、传送、传播、储存违反国家法律、危害国家安全统一、社会稳定、公序良俗、社会公德以及侮辱、诽谤、色情、暴力的内容； <br>
        （2）发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容； <br>
        （3）虚构事实、隐瞒真相以误导、欺骗他人； <br>
        （4）发表、传送、传播广告信息及垃圾信息； <br>
        （5）从事其他违反法律法规、政策及公序良俗、社会公德等的行为。 <br>
        8.4用户禁止行为 <br>
        除非法律允许或办酒碗书面许可，您不得从事下列行为： <br>
        （1）删除本软件及其副本上关于著作权的信息； <br>
        （2）对本软件进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现本软件的源代码； <br>
        （3）对办酒碗拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等； <br>
        （4）对本软件或者本软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及本软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非办酒碗经授权的第三方工具/服务接入本软件和相关系统； <br>
        （5）通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的； <br>
        （6）通过非办酒碗开发、授权的第三方软件、插件、外挂、系统，登录或使用办酒碗软件及服务，或制作、发布、传播上述工具； <br>
        （7）自行、授权他人或利用第三方软件对本软件及其组件、模块、数据等进行干扰； <br>
        （8）其他未经办酒碗明示授权的行为。 <br>
        8.5 对自己行为负责 <br>
        您充分了解并同意，您必须为自己注册帐号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对使用本服务时接触到的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。办酒碗无法且不会对您因前述风险而导致的任何损失或损害承担责任。
        8.6 违约处理 <br>
        如果办酒碗发现或收到他人举报您有违反本协议约定的，办酒碗有权不经通知随时对相关内容进行删除、屏蔽，并采取包括但不限于暂停、终止您使用相应办酒碗账号，暂停、终止您使用部分或全部本服务，追究法律责任等措施。
        8.7 对第三方损害的处理 <br>
        您违反约定，导致任何第三方损害的，您应当独立承担责任；办酒碗因此遭受损失的，您也应当一并赔偿。 <br>
    </div>
    <div>
        九、第三方提供的产品或服务 <br>
        您在办酒碗上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。办酒碗和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。 <br>
        因用户使用本软件或要求办酒碗提供特定服务时，本软件可能会调用第三方系统或者通过第三方支持用户的使用或访问，使用或访问的结果由该第三方提供（包括但不限于您通过本服务跳转到的第三方提供的服务及内容，第三方通过办酒碗开放接入的服务及内容等），办酒碗无法保证第三方提供服务及内容的安全性、准确性、有效性及其他不确定的风险，您应自行承担相关责任。 <br>

    </div>
    <div>
        十、知识产权声明 <br>
        10.1 办酒碗是本软件的知识产权权利人。本软件的著作权、商标权、专利权、商业秘密等知识产权，以及与本软件相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，办酒碗依法享有上述相关知识产权，但相关权利人依照法律规定应享有的权利除外。 <br>
        10.2 未经办酒碗或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权。 <br>

    </div>
    <div>
        十一、终端安全责任 <br>
        11.1 您理解并同意，本软件或本服务同大多数互联网软件、服务一样，可能会受多种因素影响（包括但不限于用户原因、网络服务质量、社会环境等）；也可能会受各种安全问题的侵扰（包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户下载安装的其他软件或访问的其他网站中可能含有病毒、木马程序或其他恶意程序，威胁您终端的信息和数据的安全，继而影响本软件、本服务的正常使用等）。因此，您应加强信息安全及个人信息的保护意识，注意密码保护，以免遭受损失。 <br>
        11.2 您不得制作、发布、使用、传播用于窃取办酒碗账号及他人个人信息、财产的恶意程序。 <br>
        11.3 维护软件安全与正常使用是办酒碗和您的共同责任，办酒碗将按照行业标准合理审慎地采取必要技术措施保护您的终端信息和数据安全，但是您承认和同意办酒碗不能就此提供任何保证。 <br>
        11.4 在任何情况下，您不应轻信借款、索要密码或其他涉及财产的网络信息。涉及财产操作的，请一定先核实对方身份，并请经常留意办酒碗有关防范诈骗犯罪的提示。 <br>

    </div>
    <div>
        十二、第三方软件或技术 <br>
        12.1 本软件可能会使用第三方软件或技术（包括本软件可能使用的开源代码和公共领域代码等，下同），这种使用已经获得合法授权。 <br>
        12.2 本软件如果使用了第三方的软件或技术，办酒碗将按照相关法规或约定，对相关的协议或其他文件，可能通过本协议附件、在本软件安装包特定文件夹中打包等形式进行展示，它们可能会以“软件使用许可协议”、“授权协议”、“开源代码许可证”或其他形式来表达。前述通过各种形式展现的相关协议或其他文件，均是本协议不可分割的组成部分，与本协议具有同等的法律效力，您应当遵守这些要求。如果您没有遵守这些要求，该第三方或者国家机关可能会对您提起诉讼、罚款或采取其他制裁措施，并要求办酒碗给予协助，您应当自行承担法律责任。
    </div>
    <div>
        十三、其他  <br>
        13.1 您使用本软件或本服务即视为您已阅读并同意受本协议的约束。办酒碗有权在必要时修改本协议条款。您可以在本软件、本服务的最新版本中查阅相关协议条款。本协议条款变更后，如果您继续使用本软件、本服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本软件。  <br>
        13.2 本协议签订地为中华人民共和国江苏省南京市雨花台区。  <br>
        13.3 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。  <br>
        13.4 若您和办酒碗之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。  <br>
        13.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。  <br>
        13.6 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。  <br>
        13.7 若本协议有中文、英文等多个语言版本，相应内容不一致的，均以中文版的内容为准。

    </div>
</div>

<!-- footer -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
    <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
        <li>
            <a href="index">
                <span class=""><img src="/Content/img/home1.png" alt=""></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="cart">
                <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="find">
                <span class="find">发现</span>
            </a>
        </li>
        <li>
            <a href="customerService">
                <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                <span class="am-navbar-label">客服</span>
            </a>
        </li>
        <li>
            <a href="personal">
                <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>
<!-- footer -->	

</body>
</html>