<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>设置密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/Content/css/amazeui.min.css" rel="stylesheet">
    <link href="/Content/css/app.css" rel="stylesheet">
    <link href="/Content/css/signin.css" rel="stylesheet">
    <link href="/Content/css/public.css" rel="stylesheet">
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/Scripts/kerenui-framework.js"></script>
    <script src="~/Content/Scripts/jquery/jQuery.md5.js"></script>
    <script>
        var phone = GetQuery("phone");
        var state = GetQuery("state");
        var openid = "";

        $(function () {
            getopenid();
        })
        function getopenid() {
            getAjax("/commonmodule/WeiXinOpenId/openid", {}, function (data) {
                openid = data;
            })
        }
        //注册用户或重置密码
        function RegisterUser() {
            var pwd = $("#pwd").val()
            var users = {
                UserPhone: phone,
                UserPwd: $.md5(pwd)
            }
            AjaxJson("/CommonModule/Q_Users/Register", { phone: phone, pwd: $.md5(pwd), openid: openid }, function (data) {
                if (data == 2) {
                    alert("设置成功")
                    window.location.href = "personal";
                }
                else if (data == 1) {
                    alert("设置失败，已有该用户")
                }
                else {
                    alert("设置失败")
                }
            })
        }
    </script>
</head>
<body class="">
    <!-- header -->
    <header data-am-widget="header" class="am-header am-header-default topform bheader" style="width:100%;height: 49px;">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            办酒碗
        </h1>
    </header>
    <div class="register_t_pic">
        <img src="/Content/images/shezhimima.png">
    </div>
    <form>
        <div class="regi_form">
            <p class="setmima">设置密码</p>
            <input type="password" class="psw" id="pwd" name="" placeholder="请输入密码">
            <a class="am-badge am-badge-danger am-hide pswTip">请输入6-12位由数字和字母组成的密码</a>
            <p class="setmima">确认密码</p>
            <input type="password" class="pswAgain" name="" placeholder="确认密码">
            <a class="am-badge am-badge-danger am-hide pswRtip">密码确认错误</a>
            <!-- <a href="" title=""> -->
            <input type="button" name="" value="确认" class="confirm">
            <!-- </a> -->
        </div>
    </form>
</body>
<script type="text/javascript">
    (function () {

        var pswTip = document.getElementsByClassName('pswTip')[0];
        var pswRtip = document.getElementsByClassName('pswRtip')[0];
        var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
        document.getElementsByClassName('psw')[0].oninput = function () {
            if (this.value == '' || !reg.test(this.value)) {
                pswTip.className = pswTip.className.replace('am-hide', '');
            } else {
                pswTip.className += ' ' + 'am-hide';
            }
        }
        document.getElementsByClassName('pswAgain')[0].oninput = function () {
            if (this.value != document.getElementsByClassName('psw')[0].value) {
                pswRtip.className = pswRtip.className.replace('am-hide', '');
            } else {
                pswRtip.className += ' ' + 'am-hide';
            }
        }
        document.getElementsByClassName('confirm')[0].onclick = function () {
            var psw = document.getElementsByClassName('psw')[0].value;
            var pswAgain = document.getElementsByClassName('pswAgain')[0].value;
            if (psw == '' || !reg.test(psw)) {
                pswTip.className = pswTip.className.replace('am-hide', '');
                document.getElementsByClassName('psw')[0].focus();
                return false;
            }
            if (pswAgain == '' || pswAgain != psw) {
                pswRtip.className = pswRtip.className.replace('am-hide', '');
                document.getElementsByClassName('pswAgain')[0].focus();
                return false;
            }
            if (state == 1) {
                getAjax("/CommonModule/Q_Users/ResetPwd", { phone: phone, pwd: $.md5(psw)}, function (data) {
                    if (data==1) {
                        alert("设置成功")
                        window.location.href = "signin";
                    }
                    else {
                        alert("设置失败");
                    }
                })
            }
            else {
                AjaxJson("/CommonModule/Q_Users/Register", { phone: phone, pwd: $.md5(psw), openid: openid }, function (data) {
                    if (data == 2) {
                        alert("设置成功")
                        window.location.href = "signin";
                    }
                    else if (data == 1) {
                        alert("设置失败，已有该用户")
                    }
                    else {
                        alert("设置失败")
                    }
                })
            }


        }
    })();
</script>
</html>