<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/Content/css/amazeui.min.css" rel="stylesheet">
    <link href="/Content/css/app.css" rel="stylesheet">
    <link href="/Content/css/public.css" rel="stylesheet">
    <link href="/Content/css/personal.css" rel="stylesheet">
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/Scripts/kerenui-framework.js"></script>
    <script>
        var phone = "";
        $(function () {
            GetPhone()
        })
        //获取电话
        function GetPhone() {
            getAjax("/CommonModule/Q_Users/getPhone", {}, function (data) {
                if (data == "0") {
                    alert("请登录")
                    window.location.href = "signin";
                }
                else {
                    phone = data;
                    AjaxJson("/CommonModule/Q_Users/getInfoByPhone", { phone: phone }, function (reInfo) {
                        $.each(reInfo, function (i) {
                            $("#name").val(reInfo[i].username)
                            $("#kouwei").val(reInfo[i].personaltaste)
                            var likecuising = reInfo[i].likecuisine.substring(1, reInfo[i].likecuisine.length-1)
                            var strs = new Array();
                            strs = likecuising.split(",");
                            for (var k = 0; k < strs.length; k++) {
                                $('#caixi option').each(function () {
                                    var $option = $(this);
                                    var html = $option.html();
                                    var value = $option.val();
                                   
                                    if (strs[k] == value) {
                                        console.log(value)
                                        $(this).attr("selected",true);
                                    }
                                });


                            }



                            if (reInfo[i].userimage != null) {
                                var prevDiv = document.getElementById('preview');
                                prevDiv.innerHTML = '<img src="' + reInfo[i].userimage + '" />';
                            }
                        })
                    })
                }
            })

        }
    </script>
</head>
<body class="paddfoot po_ab">
    <!-- header -->
    <form class="set_form">
        <header data-am-widget="header" class="am-header am-header-default topform">
            <div class="am-header-left am-header-nav">
                <a href="javascript:history.go(-1)">
                    <i class="am-header-icon am-icon-chevron-left"></i>
                </a>
            </div>
            <h1 class="am-header-title">
                个人设置
            </h1>
            <div class="am-header-right am-header-nav">
                <input type="button" onclick="save()" name="" value="保存" class="preservation" />
            </div>
        </header>

        <div class="set_list">
            <ul>
                <li class="photo set_list_li">
                    <div class="photo_wrap touxiang">
                        <span class="set_list_le">头像</span>
                        <label class="set_list_ri up_pic_photo">
                            <div id="preview"></div>
                            <input type="file" onchange="preview(this)" id="picFile" />
                        </label>
                        <!-- <img src="/Content/images/shezhitouxiang_03.png" alt="" class="set_list_ri"> -->
                    </div>

                </li>
                <li class="set_list_li">
                    <div class="photo_wrap">
                        <span class="set_list_le">昵称</span>
                        <input type="text" id="name" name="" value="" class="set_list_ri nickname" />
                    </div>
                </li>
                <li class="set_list_li">
                    <div class="photo_wrap">
                        <span class="set_list_le">口味</span>
                        <input type="text" id="kouwei" name="" value="" class="set_list_ri" />
                    </div>
                </li>
                <li class="set_list_li">
                    <div class="photo_wrap">
                        <span class="set_list_le">喜爱菜系</span>
                        <div class="set_list_ri like_cuisine">
                            <select id="caixi" multiple data-am-selected>
                                <option value="酸">酸</option>
                                <option value="甜">甜</option>
                                <option value="苦">苦</option>
                                <option value="辣">辣</option>
                            </select>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- 底部版权 -->
        <div class="copyright">
            <div>
                <a href="serviceAgreement" title="">用户服务协议</a> &nbsp;|&nbsp;
                <a href="DisclaimerStatement" title="">免责声明</a>&nbsp;|&nbsp;
                <a href="Aboutus" title="">关于我们</a>
            </div>
            <p>2016成都牙米网络科技有限公司</p>
            <span>Hello Yummy Network Technology ,.Ltd</span>
        </div>

    </form>
    <!-- 提示框 -->
    <div class="tk" style="display:none;">
        <div class="tkcontent tkvip bwhite" style="background: white;border-radius: 5px;">
            <div class="tktxt2">
                <div class="am-text-center am-text-lg am-padding-sm popBg white">提示</div>
                <div class="am-text-center am-text-lg am-margin">
                    <div class="red">您确定要删除吗？</div>
                </div>
            </div>
            <div class="btnGp">
                <button type='button' class="bno beee whtie closem cancel">取消</button>
                <button type='button' id="sub" class="bno bred white closem yes">确定</button>
            </div>
        </div>
    </div>
    <!-- 提示框结束 -->
    <!-- footer -->
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
        <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
            <li>
                <a href="index">
                    <span class=""><img src="/Content/img/home1.png" alt=""></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="cart">
                    <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="find">
                    <span class="find">发现</span>
                </a>
            </li>
            <li>
                <a href="customerService">
                    <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                    <span class="am-navbar-label">客服</span>
                </a>
            </li>
            <li>
                <a href="personal" class="active">
                    <span class=""><img src="/Content/img/gr2.png" alt=""></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
    <script src="/Content/js/jquery.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <script src="/Content/js/amazeui.min.js" type="text/javascript" charset="utf-8" async defer></script>
    <!-- <script src="/Content/js/verification.js" type="text/javascript" charset="utf-8" async defer></script> -->
    <script type="text/javascript">
        var resu = "";
        function preview(file) {
            var prevDiv = document.getElementById('preview');
            if (file.files && file.files[0]) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';
                }
                reader.readAsDataURL(file.files[0]);
                var file1 = file.files[0];
                //判断类型是不是图片
                if (!/image\/\w+/.test(file1.type)) {
                    alert("请确保文件为图像类型");
                    return false;
                }
                var reader = new FileReader();
                reader.readAsDataURL(file1);
                reader.onload = function (e) {
                    var resu1 = this.result;//就是base64
                    resu = resu1.substring(23, resu1.length);//去掉前面前缀
                }
            }
            else {
                prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
            }
        }
        function save() {
            var name = $("#name").val();
            var kouwei = $("#kouwei").val();
            var caixi1 = $("#caixi").val();
            getAjax("/CommonModule/Q_Users/UpdateUserInfo", { phone: phone, name: name, kouwei: kouwei, img: resu, caixi1: "'" + caixi1 + "'" }, function (data) {
                if (data == 1) {
                    alert("保存成功")
                    window.location.replace();
                }
                else if (data == 0) {
                    alert("保存失败")
                }
                else {
                    alert(data);
                }
            })
        }


    </script>
    <script type="text/javascript">
        (function () {
            var set_form = document.getElementsByClassName('set_form')[0];
            var tk = document.getElementsByClassName('tk')[0];
            var red = document.getElementsByClassName('red')[0];
            var cancel = document.getElementsByClassName('cancel')[0];
            var yes = document.getElementsByClassName('yes')[0];
            var nickname = document.getElementsByClassName('nickname')[0];
            var preview = document.getElementById('preview');

            set_form.onsubmit = function () {
                if (preview.innerHTML == '') {
                    red.innerHTML = '请上传头像!'
                    tk.style.display = 'block';
                    return false;
                }
                if (nickname.value == '') {
                    red.innerHTML = '请输入昵称!'
                    tk.style.display = 'block';
                    return false;
                }
            }

            cancel.onclick = function () {
                javascript: history.go(-1);
            }
            yes.onclick = function () {
                tk.style.display = 'none';
                if (nickname.value == '') {
                    nickname.focus();
                }

            }

        })();
    </script>
</body>
</html>