<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="办酒碗">
    <meta name="keywords" content="办酒碗">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>办酒碗</title>
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/Content/css/amazeui.min.css">
    <link rel="stylesheet" href="/Content/css/app.css">
    <link rel="stylesheet" href="/Content/css/common.css" />
</head>

<body class="bwhite pabo">
    <header data-am-widget="header" class="am-header am-header-default topform">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            办酒碗
        </h1>
    </header> 
    <img src="/Content/img/banner2.png" class="am-img-responsive" alt="">
    <img src="/Content/img/wuya_04.png" class="am-img-responsive" alt="">
        <div class="am-list-news-bd am-margin-bottom-xs bwhite">
            <p class="am-padding-vertical-sm orderTit"><img src="/Content/img/marks.png" class="marks" alt=""><span class="am-fr am-padding-right-sm am-icon-chevron-down"></p>
            <ul class="am-list odl odM"> 
                <li class="am-padding-sm am-cf">
                  <b>简介：<div class="am-fr listStyle">不管是家庭聚会、公司聚餐、情调小聚、户外庆典还是您的任何用餐需求，办酒碗帮您轻松搞定。</div></b>
                </li>
            </ul> 
            <div class="am-padding"> 
            <img src="/Content/img/threeStep.png" class="am-img-responsive" alt="">
            </div>

            <a href="cookBook" class="am-btn am-btn-danger go">知道了，去点菜！</a>
        </div> 
        <!-- footer -->
			<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
			    <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
			        <li>
			            <a href="index">
			                <span class=""><img src="/Content/img/home1.png" alt=""></span>
			                <span class="am-navbar-label">首页</span>
			            </a>
			        </li>
			        <li>
			            <a href="cart">
			                <span class=""><img src="/Content/img/cart1.png" alt=""></span>
			                <span class="am-navbar-label">购物车</span>
			            </a>
			        </li>
			        <li>
			            <a href="find">
			                <span class="find">发现</span>
			            </a>
			        </li>
			        <li>
			            <a href="customerService">
			                <span class=""><img src="/Content/img/kf1.png" alt=""></span>
			                <span class="am-navbar-label">联系客服</span>
			            </a>
			        </li>
			        <li>
			            <a href="personal" class="active">
			                <span class=""><img src="/Content/img/gr2.png" alt=""></span>
			                <span class="am-navbar-label">我的</span>
			            </a>
			        </li>
			    </ul>
			</div>
</body>
</html>
