<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的抵用券</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/Content/css/amazeui.min.css" rel="stylesheet">
    <link href="/Content/css/app.css" rel="stylesheet">
    <link href="/Content/css/public.css" rel="stylesheet">
    <link href="/Content/css/personal.css" rel="stylesheet">
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/Scripts/kerenui-framework.js"></script>
    <script>
        $(function () {
            getUserCoupon()
        })
        //获取用户的优惠券
        function getUserCoupon() {
            var str = "";
            getAjax("/CommonModule/Q_Users/getPhone", {}, function (data) {
                if (data == "0") {
                    alert("请登录")
                    window.location.href = "signin";
                }
                else {
                    AjaxJson("/CommonModule/Q_UserCoupon/getAllCouponByPhone", { phone: data }, function (Coupon) {
                        $.each(Coupon, function (i) {
                            str += "<li><a href='javascript:;'>" + Coupon[i].coupponname + "</a><div class='voucher_list_f'><p>使用期限：</p><p>" + Coupon[i].begintime.substring(0, 10) + "至" + Coupon[i].endtime.substring(0, 10) + "</p><div class='ri_pic'><div>¥ "+Coupon[i].coupponmoney+"</div><div>满" + Coupon[i].usethreshold + "元使用</div></div></div></li>";
                        })
                        $("#coupon").html(str);
                    })
                }
            })
        }

    </script>

</head>
<body class="paddfoot gray_back">
    <!-- header -->
    <header data-am-widget="header" class="am-header am-header-default topform">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.go(-1)">
                <i class="am-header-icon am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            我的抵用券
        </h1>
    </header>
    <div class="per_list voucher_list">
        <ul id="coupon"></ul>
    </div>

    <!-- footer -->
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default nav-bot">
        <ul class="am-navbar-nav am-cf am-avg-sm-5 am-shadow">
            <li>
                <a href="index">
                    <span class=""><img src="/Content/img/home1.png" alt=""></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="cart">
                    <span class=""><img src="/Content/img/cart1.png" alt=""></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="find">
                    <span class="find">发现</span>
                </a>
            </li>
            <li>
                <a href="customerService">
                    <span class=""><img src="/Content/img/kf1.png" alt=""></span>
                    <span class="am-navbar-label">客服</span>
                </a>
            </li>
            <li>
                <a href="personal">
                    <span class=""><img src="/Content/img/gr1.png" alt=""></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>

</body>
</html>